.editing__imging{
    display: block;
    width: 100%;
    margin-top: 65px;
}
.esp32s2 h2{
  color: #000;
  font-size: 25px; 
  margin-top: 50px; 
}
.esp32s2 p{
    color: #000;
    font-size: 18px; 
    margin-top: 10px;

}
.flex_container{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 30px;
    margin-top: 100px;
}
.esp32_s2_card{
    flex-basis: 33%;
}
.img_info{
    width: 80%;
    text-align: center;
}
.esp32_s2_card h3{
    text-align: center;
    font-size: 22px;
    margin: 20px 0;
}
.esp32_s2_card img{
    border: 1px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px #999;
    overflow: hidden;
    width: 80px;
    height: 80px;
}
.esp32_s2_card p{
    margin-top: 30px;
    font-size: 16px;
    width: 95%;
}
.last_page_click{
    font-size: 25px;
    text-align: center;
    margin-top: 50px;
}
@media(max-width:768px){
    .flex_container{
        display: flex;
        flex-direction: column;
        gap: 0;
        margin-top: 50px;
    }
    .esp32_s2_card{
        flex-basis: 100%;
    }
}
/*s3*/
.all__cards_esp{
    margin-top: 50px;
}
.upper__flex{
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
}
.upper_card{
    flex: 0 0 50%;
    max-width: 49%;   
}
.item_support{
    padding: 60px 40px 0;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #dcf1f1;
    
}
.container_esp_img{
    text-align: center;
    padding: 0 15px;
    box-sizing: border-box;
}
.item_support img{
    width: 45% !important;
}
.item_support h3{
    color: var(--main-color);
    margin-top: 40px;
}
.item_support p{
    margin: 20px 0 0 !important;
}
.upper_card .left_card{
    background: #fff;
    padding: 30px 40px;
    border-radius: 6px;
    box-sizing: border-box;
    border: 1px solid #dcf1f1;
    
}
.mmmm{
    margin-bottom: 20px;
}
.upper_card .left_card h3{
    color: var(--main-color);
}
.upper_card .left_card p{
    margin: 20px 0 0 !important
}
.lower__flex{
    display: flex;
    flex: 1;
    gap: 1%;
    margin-top: 20px;
    
}
.lower__flex .left_card{
    background: #fff;
    padding: 30px 40px;
    border-radius: 6px;
    box-sizing: border-box;
    border: 1px solid #dcf1f1;
    max-width: 49%;
    
}
.lower__flex  .left_card h3{
    color: var(--main-color);
}
.lower__flex .left_card p{
    margin: 20px 0 0 !important
}